.customModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    padding: 12px;
    transition: 200ms ease-in-out;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    z-index: 10;
    width: 38rem;
    max-width: 80%;
    background-color: var(--main-light-color);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    color: var(--main-second-color);
}

.customModal.active {
    transform: translate(-50%, -50%) scale(1);
}

.customModal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--main-second-color);
}

.customModal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.customModal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--main-second-color);
}

.customModal-body {
    padding: 20px 25px;
}

.modalRow {
    padding-top: 10px;
    padding-bottom: 10px;
}

.modalCol {
    padding: 6px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}