#background_image_home {
  background-image: linear-gradient(rgb(249, 250, 244, 1), rgb(249, 250, 244, 0.6)), url("/assets/images/sampleRoom.png");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 -24px 24px var(--main-light-color), inset 0 -50px 50px var(--main-light-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.centeredHeroDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.WelcomeTextHome {
  display: inline;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1.2;
  color: var(--main-second-color);
  transform: translateX(-50%);
  margin-left: auto;
  margin-right: auto;
  text-shadow: 3px 3px var(--main-fourth-color);
  width: 100%;
}

#input-cursor {
  display: inline-block;
  width: 5px;
  background-color: var(--main-second-color);
  margin-left: 8px;
  animation: blinkCursor .4s linear infinite alternate;
}

#WelcomeTextHomeDiv {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  text-align: center;
  justify-content: center;
  float: right;
}

#caterpillar_1 {
  max-width: 200px;
}

#caterpillar_2 {
  max-width: 200px;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

#caterpillar_3 {
  max-width: 200px;
}

.block3 {
  order: 3;
}

.block4 {
  order: 4;
}

.borderOfCaterpillar {
  transition: all .2s;
  -webkit-filter: drop-shadow(4px 4px 1px var(--main-first-color)) drop-shadow(-4px -4px 1px var(--main-third-color));
  filter: drop-shadow(4px 4px 1px var(--main-first-color)) drop-shadow(-4px -4px 1px var(--main-third-color));
}

.textInsideHomePage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--main-dark-color);
  font-size: 1.25rem;
}

.motto-container {
  position: relative;
  width: 40rem;
  height: 20rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.motto-text {
  font-size: 6rem;
  color: var(--main-light-color);
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: -1px 0 var(--main-second-color), 0 1px var(--main-second-color), 1px 0 var(--main-second-color), 0 -1px var(--main-second-color);
}

#upper-text-motto {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-90%, -114%);
  z-index: 15;
}

#middle-text-motto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 14;
}

#lower-text-motto {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-10%, 14%);
  z-index: 13;
}

#upper-layer-motto {
  position: absolute;
  top: 20px;
  left: 60px;
  z-index: 12;
}

#middle-layer-motto {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 11;
}

#lower-layer-motto {
  position: absolute;
  top: -20px;
  left: -60px;
  z-index: 10;
}

.triangle-right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translate(-20px, -100px);
  padding: 0.6rem;
  color: var(--main-light-color);
  background: var(--main-first-color);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  z-index: 9;
}

.triangle-right:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50px;
  border-width: 20px 0 0 20px;
  border-style: solid;
  border-color: var(--main-first-color) transparent;
  display: block;
  width: 0;
}

/* LARGE SCREENS: */
@media only screen and (min-width: 768px) {
  .WelcomeTextHome {
    font-size: 4rem;
  }

  #input-cursor {
    height: 50px;
  }
}

@keyframes blinkCursor {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* SMALL SCREENS: */
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .WelcomeTextHome {
    font-size: 3rem;
  }

  #input-cursor {
    height: 40px;
  }

  .textInsideHomePage {
    font-size: 1rem;
  }

  .motto-container {
    position: relative;
    width: 26rem;
    height: 13rem;
  }

  .motto-text {
    font-size: 4rem;
  }
}

/* VERY SMALL SCREENS: */
@media only screen and (max-width: 576px) {
  .WelcomeTextHome {
    font-size: 3rem;
  }

  #input-cursor {
    height: 40px;
  }

  .block3 {
    order: 4;
  }

  .block4 {
    order: 3;
  }

  #caterpillar_1 {
    max-width: 160px;
  }

  #caterpillar_2 {
    max-width: 160px;
  }

  #caterpillar_3 {
    max-width: 160px;
  }

  .textInsideHomePage {
    font-size: 1rem;
  }

  #upper-layer-motto {
    top: 20px;
    left: 20px;
  }

  #lower-layer-motto {
    top: -20px;
    left: -20px;
  }

  #upper-text-motto {
    transform: translate(-90%, -134%);
  }

  #lower-text-motto {
    transform: translate(-10%, 34%);
  }

  .motto-container {
    width: 20rem;
    height: 10rem;
  }

  .motto-text {
    font-size: 2.5rem;
  }
}