#paragraph-ro-1 {
    display: block;
}

#paragraph-de-1 {
    display: none;
}

#paragraph-ro-2 {
    display: block;
}

#paragraph-de-2 {
    display: none;
}

#paragraph-ro-3 {
    display: block;
}

#paragraph-de-3 {
    display: none;
}