<div class="generic-page-container">
  <div class="row width-100 my-2 diagonal-1 generic-row-padding">
    <div class="col vertical-space-between-col">
      <div class="card height-100 m-2 p-4">
        <h1 class="cyan-dark-text-with-shadow">
          Politica de confidențialitate
        </h1>
        <br />
        <h2 class="cyan-dark-text-with-shadow">Introducere</h2>
        <p>
          Subscrisa <b>IMALO PROGRAM S.R.L.</b>, cu sediul în
          <b>STR. GUTUILOR, NR. 6, 550092, SIBIU</b>, CUI: <b>49232070</b>, Nr.
          înmatriculare: <b>J32/2315/2023</b>, prin reprezentant legal, vă
          informează:
        </p>
        <p>
          Avem calitatea de operator conform prevederilor Regulamentului (UE)
          2016/679 al Parlamentului European și al Consiliului din 27.04.2016
          privind protecţia datelor. Prin prezenta informare va explicăm modul
          in care datele dumneavoastră personale sunt utilizate și scopul în
          care acestea sunt folosite:
        </p>
        <br />
        <p>
          Acest document prezintă politica de confidențialitate a site-ului
          nostru web (<b>"Site-ul"</b>). Ne angajăm să protejăm
          confidențialitatea vizitatorilor noștri (<b>"Utilizatori"</b>) și să
          folosim datele lor cu grijă și respect.
        </p>
        <br />
        <h2 class="cyan-dark-text-with-shadow">Colectarea datelor</h2>
        <p>
          Spre deosebire de alte site-uri web, nu stocăm informații ale
          Utilizatorilor în local-storage (memoria browserului) și nici în
          session-storage (memoria de sesiune activă).
          <br />
          De asemenea, nu colectăm date de la Utilizatori țintite pentru
          reclame, deoarece site-ul nostru de prezentare nu afișează reclame
          (ads).
        </p>
        <br />
        <h2 class="cyan-dark-text-with-shadow">Google Analytics</h2>
        <p>
          Singurele date ale Utilizatorului care sunt folosite în module cookie
          sunt cele care sunt procesate de către Google Analytics.
          <br />
          Google Analytics este un serviciu de analiză web furnizat de Google
          care monitorizează și raportează traficul pe site-ul web. Google
          utilizează datele colectate pentru a urmări și monitoriza utilizarea
          site-ului nostru. Aceste date pot fi partajate cu alte servicii
          Google. Puteți renunța la colectarea activității dvs. pe Serviciu de
          către Google Analytics instalând extensia pentru browser de renunțare
          la Google Analytics. Extensia împiedică JavaScript-ul Google Analytics
          (ga.js, analytics.js și dc.js) să partajeze informații despre
          activitățile dvs. de vizitare cu Google Analytics.
          <br />
          Pentru mai multe informații despre practicile de confidențialitate ale
          Google, vizitați site-ul web Google Privacy & Terms:
          https://policies.google.com/privacy
        </p>
        <br />
        <h2 class="cyan-dark-text-with-shadow">Formularele de contact</h2>
        <p>
          Singurele date pe care Utilizatorul le poate introduce sunt cele din
          formularul de contact: Numele, adresa de e-mail, numărul de telefon și
          mesajul adresat către IMALO PROGRAM S.R.L. Toate aceste date introduse
          în formularul de contact sunt procesate prin API-ul EmailJS
          (https://www.emailjs.com/). Datele introduse nu sunt salvate pe
          serverele noastre, nici în cookie-uri sau memoria browserului sau
          memoria de sesiune, ci sunt folosite doar pentru a trimite un e-mail
          automat către adresa
          <b>imaloeducation&#64;gmail.com</b> prin EmailJS API.
          <br />
          Pentru mai multe informații despre practicile de confidențialitate ale
          EmailJS, vizitați site-ul web
          <b>https://www.emailjs.com/legal/privacy-policy/</b>
        </p>
        <br />
        <h2 class="cyan-dark-text-with-shadow">
          Modificări ale politicii de confidențialitate
        </h2>
        <p>
          Orice modificări aduse politicii noastre de confidențialitate vor fi
          publicate pe această pagină.
        </p>
        <br />
        <h2 class="cyan-dark-text-with-shadow">Contact</h2>
        <p>
          Dacă aveți întrebări cu privire la politica noastră de
          confidențialitate, vă rugăm să ne contactați pe adresa
          <b>imaloeducation&#64;gmail.com.</b>
        </p>
        <br />
        <h2 class="cyan-dark-text-with-shadow">Concluzie</h2>
        <p>
          Respectăm dispozițiile legale privitoare la protecția datelor cu
          caracter personal și punem în aplicare măsuri tehnice și
          organizatorice de protejare a tuturor operațiunilor privitoare în mod
          direct sau indirect la datele cu caracter personal, care previn
          prelucrările neautorizate sau ilegale, precum și pierderile sau
          distrugerile accidentale sau ilegale.
        </p>
        <br />
        <p>
          Ne angajăm să protejăm confidențialitatea Utilizatorilor noștri și să
          folosim datele lor cu grijă și respect. Sperăm că această politică de
          confidențialitate a fost clară și transparentă.
        </p>
        <br />
      </div>
    </div>
  </div>
</div>
