<div class="hero-image-container d-flex justify-content-center align-items-center">
    <div id="background_image_home"></div>
    <div class="centere-hero-div d-flex justify-content-center align-items-center">
        <div class="motto-container">
            <h1 class="motto-text" id="upper-text-motto">
                Aufblühen
            </h1>
            <h1 class="motto-text" id="middle-text-motto">
                Wachsen
            </h1>
            <h1 class="motto-text" id="lower-text-motto">
                Entdecken
            </h1>
            <div class="liquid-shape-1" id="upper-layer-motto">
            </div>
            <div class="liquid-shape-4" id="middle-layer-motto">
            </div>
            <div class="liquid-shape-5" id="lower-layer-motto">
            </div>
        </div>
    </div>
</div>

<div class="generic-page-container mt-2 mb-4">
    <div class="row width-100 d-flex justify-content-center align-items-center mb-2 generic-row-padding">
        <div class="container-fluid d-flex justify-content-center align-items-center my-2 py-2">
            <h1 class="subtitle-1" *ngIf="languageRO">
                Ați găsit locația perfectă pentru copilul Dumneavoastră!
            </h1>
            <h1 class="subtitle-1" *ngIf="languageDE">
                Sie haben den idealen Ort für Ihr Kind gefunden!
            </h1>
        </div>
    </div>
    <div class="row width-100 d-flex justify-content-center align-items-center my-2 diagonal-1 generic-row-padding">
        <div class="col-sm-8 d-flex justify-content-center align-items-center block1 my-2">
            <div class="liquid-shape-3">
                <div class="textInsideHomePage">
                    <p *ngIf=" languageRO">
                        Imalo Education <br>
                        este locul unde copilul Dvs. va fi întâmpinat <br>
                        cu toată căldura și atenția
                        noastră.
                    </p>
                    <p *ngIf="languageDE">
                        Imalo Education <br>
                        ist der Ort, an dem Ihr Kind mit all unserer <br>
                        Herzlichkeit und Aufmerksamkeit empfangen wird.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 d-flex justify-content-center align-items-center block2 my-2">
            <img class="double-drop-shadow" id="imalo_caterpillar_1"
                src="assets/images/caterpillars/imalo_caterpillar_1.png" alt="Imalo Afterschool Sibiu Caterpillar 1">
            <p class="triangle-right" *ngIf="languageRO">
                Bine ați venit la Imalo!
            </p>
            <p class=" triangle-right" *ngIf="languageDE">Willkommen zu Imalo!
            </p>
        </div>
    </div>
    <div class=" row width-100 d-flex justify-content-center align-items-center my-2 diagonal-2 generic-row-padding">
        <div class="col-sm-4 d-flex justify-content-center align-items-center block-1 my-2">
            <img class="double-drop-shadow" id="imalo_caterpillar_2"
                src="assets/images/caterpillars/imalo_caterpillar_2.png" alt="Imalo Afterschool Sibiu Caterpillar 2">
        </div>
        <div class="col-sm-8 d-flex justify-content-center align-items-center block-2 my-2">
            <div class="fixed-Size-Container-600x300">
                <div class="liquid-shape-4">
                    <div class="textInsideHomePage">
                        <p *ngIf=" languageRO">
                            Viziunea noastră este de a ne asigura că fiecare copil primește atenția și
                            îngrijirea pe care o merită cu adevărat.
                        </p>
                        <p *ngIf="languageDE">
                            Unsere Vision ist es, dass jedes Kind die Aufmerksamkeit und Betreuung erhält,
                            die es wirklich verdient.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row width-100 d-flex justify-content-center align-items-center my-2 diagonal-1 generic-row-padding">
        <div class="col-sm-8 d-flex justify-content-center align-items-center my-2">
            <div class="fixed-Size-Container-600x300">
                <div class="liquid-shape-3">
                    <div class="textInsideHomePage">
                        <p *ngIf=" languageRO">
                            Misiunea noastră este de a acorda copiilor abilitățile și încrederea necesară pentru
                            a naviga provocările de mâine.
                        </p>
                        <p *ngIf="languageDE">
                            Unser Ziel ist es, Kindern die Fähigkeiten und das Selbstvertrauen zu
                            vermitteln, um die Herausforderungen von morgen zu meistern.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 d-flex justify-content-center align-items-center my-2">
            <img class="double-drop-shadow" id="imalo_caterpillar_3"
                src="assets/images/caterpillars/imalo_caterpillar_3.png" alt="Imalo Afterschool Sibiu Caterpillar 3">
        </div>
    </div>

    <div class="row width-100 py-2 my-4 diagonal-2 generic-row-padding">
        <div class="col-sm-4 vertical-space-between-col my-2 px-4">
            <a routerLink="/about-us" class="height-100">
                <div
                    class="card justify-content-center align-items-center height-100 text-center secondary-custom-text p-4 my-2">
                    <p class="cyan-dark-text-with-shadow" *ngIf="languageRO">Despre noi
                    </p>
                    <p class="cyan-dark-text-with-shadow" *ngIf="languageDE">Über uns</p>
                </div>
            </a>
        </div>
        <div class="col-sm-4 vertical-space-between-col my-2 px-4">
            <a routerLink="/offers" class="height-100">
                <div
                    class="card justify-content-center align-items-center height-100 text-center secondary-custom-text p-4 my-2">
                    <p class="cyan-dark-text-with-shadow" *ngIf="languageRO">Oferte educaționale</p>
                    <p class="cyan-dark-text-with-shadow " *ngIf="languageDE">Bildungsangebote
                    </p>
                </div>
            </a>
        </div>
        <div class="col-sm-4 vertical-space-between-col my-2 px-4">
            <a routerLink="/schedule" class="height-100">
                <div
                    class="card justify-content-center align-items-center height-100 text-center secondary-custom-text p-4 my-2">
                    <p class="cyan-dark-text-with-shadow" *ngIf="languageRO">Programele noastre</p>
                    <p class="cyan-dark-text-with-shadow " *ngIf="languageDE">Unsere Programme
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>